<h1>View all Favs by Category</h1>
<div class="list-group">
  <% @categories.each do |category| %>
    <% if !category.favorites.empty? %>
    <a href="/categories/<%= category.id %>" class="list-group-item list-group-item-action"><%= category.name %>
    <span class="badge badge-primary badge-pill" style="margin: 5px"><%= category.favorites.length %></span></a>
    <% end %>
  <% end %>
</div>
<div class="text-right"><a class="btn btn-warning" style="margin: 20px" href="/favorites/users" role="button">< Back to Get Inspiration</a></div>

