<h1 class="display-3">All from <%= @category.name %></h1>
<div class="row">
  <% @category.favorites.each do |exp| %>
    <div class="card" style="width: 15rem; margin: 20px">
      <div class="text-center">
        <div class="card-header"><a href="/favorites/<%= favorite.id %>"><%= favorite.description %></a></div>
      </div>
    </div>
  <% end %>
</div>
<div class="text-right"><a class="btn btn-info" style="margin: 20px" href="/categories" role="button">< Back to All Categories</a></div>
