
<body class="home-page-bkgd jumbotron">
  <div class="home-page-container">
    <div class="text-center">
    <h1 class="display-3"><strong>Friend's Favs Lists!</strong></h1>
      <p class="lead">"Always having something new to learn makes life more beautiful"</p>
      <a class="btn btn-info" href="/login" role="button">Log In</a>
      <a class="btn btn-info" href="/signup" role="button">Sign Up</a>
    </div>
  </div>
</body>