<h1>Add a New Favorite to your List</h1>
<form method="POST" action="/favorites">
  <div class="form-group">
    <label for="title">Title*</label>
    <input type="text" name="favorite[title]" id="title" class="form-control" required>
  </div>
  
  <div class="form-group">
    <label for="content">Description *</label>
    <input type="text" name="favorite[content]" id="content" class="form-control" required>
  </div>
 
 
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" name="favorite[category]" id="category" class="form-control"required >
  </div>
 
  <br><br>
  <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Add</button>
</form>
