
<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1><%=@favorite.title %></h1>
<h4><%=@favorite.category %></h4>
<h1><%=@favorite.content %></h1>